body {
    /* background-color: darkgray;  */
    text-align: center;
    background-image: url(images/pozadina.jpg); 
    /* height: 800px;  */
}

@media only screen and (max-width: 600px){
    body {
        background-image: url(images/pozadina2.jpg);
        background-position: center;
    }
} 

.container-fluid { 
    padding-left: 0%;
    padding-right: 0%;
}

#naslov {
    background-color: darkgrey;
    text-align: center;
    padding: 30px;
}

#naslov h2 {
    font-size: 300%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px black;
}

#pozadina {
    background-image: url("images/pozadina.jpg"); 
    height: 800px;
    text-align: center;
    border: solid black;
    background-position: center;
}

@media only screen and (max-width: 600px){
    #pozadina {
        background-image: url(images/pozadina1.jpg);
        background-position: left;
    }
} 

#pozadina label {
    margin-top: 5%;
    font-size: 150%;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

#pozadina input {
    width: 50%;
    margin-left: 25%;
}

#start {
    margin-top: 3%;
}

#pravila h3 {
    margin-top: 5%;
    font-size: 150%;
    text-shadow: 1px 1px black;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}

#pravila {
    background-color: whitesmoke;
    margin-top: 10%;
    text-align: center;
    border-radius: 3px;
    
}
#pravila p {
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 3%;
}

.pitanja {
    margin-top: 10%;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
    border: 3px solid black;
}

@media only screen and (max-width: 600px){
    .pitanja {
        padding-left: 10px;
        padding-right: 10px;
    }
} 

#odgovori {
    text-align: initial;
    margin-left: 20%; 
}

.pitanja button { 
    margin-top: 1%;
}



.pitanja p {
    font-size: 20px;
}

#unesi1 {
    width: 60%;
}

#unesi2 {
    width: 60%;
}

#unesi3 {
    width: 60%;
}

#kraj {
    margin-top: 10%;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
    border: 3px solid black;
}

#ispis_tacnog1 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#ispis_tacnog2 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#ispis_tacnog3 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#poeni_vreme {
    position: sticky;
    top: 0;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
}

#odustani {
    text-align: start;
}

#vreme {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}

#poeni {
    margin-top: 4px;
    margin-bottom: 4px;
}

#poeni_vreme div{
    width: 33.3%;
    padding: 5px;
    font-size: large; 
}





