body {
    background-color: whitesmoke;
}

.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    flex-direction: column;
}

#naslovna img{
    width: 100%;
}

#naslovna {
    padding-left: 0%;
    padding-right: 0%;   
}

.nav {
    background-color: sandybrown;
    padding: 0.5%; 
}

.nav-link {
    color: black;
}

.nav-item {
    background-color: white;
}

#o_nama {
    background-color: whitesmoke;   
}

#naslov1 {
    text-align: center;
    margin-bottom: 3%;
    padding-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
}

#tekst1 {
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    margin-bottom: 2%;
}

#tekst2 {
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    margin-bottom: 2%;
}

#tekst3 {
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    padding-bottom: 5%;
}

#Meni {
    background-color: whitesmoke;
}

#naslov2 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#pizza1 {
    width: 100%;
    height: 100%;   
}
.col-sm-3 {
    padding: 0;  
}

.col-sm-9 {
    padding: 0;
    display: flex;
    flex-direction: column;  
}

.sadrzaj_gore {
    height: 40%;
    border-bottom: 5px solid green;
}

.sadrzaj_dole {
    height: 60%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#sastojci_naslov {
    text-align: center;
}

#sastojci_tekst {
    margin: 1%;
    text-align: center;
    margin-top: 0.3%;
}

.velicina_pizze {
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.kolicina_pizze {
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.dugme_naruci {
    align-self: center;
    margin-left: 10%;
    margin-right: 2%;
}

.row {
    width: 100%;
    border: 5px solid lightgreen ;
    border-radius: 5px;
    margin-left: 0;
    margin-bottom: 3%;
}

#naslovi_pizza {
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pizza2 {
    width: 100%;
    height: 230px;
}

#pizza3 {
    width: 100%;
    height: 230px;
}
#pizza4 {
    width: 100%;
    height: 100%;
}

#pizza5 {
    width: 100%;
    height: 230px;
}

#Kontakt {
    background-color: whitesmoke;
}

#naslov3 {
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
#email {
    background-color: lightgreen;
    opacity: 0.7;
}
#usr {
    background-color: lightgreen;
    opacity: 0.7;
}
#phone {
    background-color: lightgreen;
    opacity: 0.7;
}
#comment {
    background-color: lightgreen;
    opacity: 0.7;
}
.btn  {
    background-color: green;
}

.footer {
    margin-top: 5%;
    background-color: sandybrown;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }




