body {
    background-color: whitesmoke;
    

}

.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    flex-direction: column;
}

#naslovna img{
    width: 100%;
    
}

#naslovna {
    padding-left: 0%;
    padding-right: 0%;   
}

.nav {
    background-color: sandybrown;
    padding: 0.5%;
    
    
}

.nav-link {
    color: black;
}

.nav-item {
    background-color: white;
}

#o_nama {
    background-color: whitesmoke;
 
    
}

#naslov1 {
    text-align: center;
    margin-bottom: 3%;
    padding-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
}

#tekst1 {
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    margin-bottom: 2%;
}

#tekst2 {
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    margin-bottom: 2%;
}

#tekst3 {
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    padding-bottom: 5%;
}

#Meni {
    background-color: whitesmoke;
}

#naslov2 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#pizza1 {
    width: 100%;
    height: 100%;
    
}
.col-sm-3 {
    padding: 0;
    
}

.col-sm-9 {
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.sadrzaj_gore {
    height: 40%;
    border-bottom: 5px solid green;
}

.sadrzaj_dole {
    height: 60%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#sastojci_naslov {
    text-align: center;
}

#sastojci_tekst {
    margin: 1%;
    text-align: center;
    margin-top: 0.3%;
}

.velicina_pizze {
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.kolicina_pizze {
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.dugme_naruci {
    align-self: center;
    margin-left: 10%;
    margin-right: 2%;
}




.row {
    width: 100%;
    border: 5px solid lightgreen ;
    border-radius: 5px;
    margin-left: 0;
    margin-bottom: 5%;

}

#naslovi_pizza {
    padding-top: 3%;
    padding-bottom: 1%;
    margin-left: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pizza2 {
    width: 100%;
    height: 230px;
}

#pizza3 {
    width: 100%;
    height: 230px;
}
#pizza4 {
    width: 100%;
    height: 100%;
}

#pizza5 {
    width: 100%;
    height: 230px;
}







