body {
     background-image: url('images/background.png');
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12pt;
     margin: 0;
     padding: 0;
}

h1 {
     text-align: center;
     font-weight: bold;
     font-size: 24pt;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-shadow: 3px 3px #999999;
}

.main_content {
     margin-left: 22.5%;
     margin-right: 22.5%;
     display: flex;
     background-color: #EEEEEE;
     box-shadow: 5px 5px 5px grey;
}

.div1 {
      width: 65%;
}

.div2 {
     width: 35%;
     background-color:  #A2B964;
}

#cover {
    width: 100%;
}

footer {
     text-align: center;
     padding: 0.5em;
     margin-left: 65%;
}

.div4 {
     
     padding-top: 0.5em;
     padding-bottom: 0.5em;
     background-color:  #A2B964;
     
}

.div3 {
     background-image: url('images/rbg.png');
     overflow: auto;
     margin-bottom: 1rem;
     background-repeat: repeat;
}
#procenat {
    font-size: 48pt;
    font-weight: bold;
    color: red;
}
#paradajz {
     float: left;
}

.kritike {
     display: flex;
     flex-direction: column;   
}

.quotebubble  {
     font-size: 13pt;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin: 1em;
     overflow: auto;
     
}

.kritika {
     width: 90%;
     background-color: #FFFFFF;
     border: 2px solid #CCCCCC;
     border-radius: 12px;
     align-self: center;
}

.quotebubble img {
     margin-right: 5px;
     margin-bottom: 5px;
}

.autor img {
     margin-right: 5px;
     margin-bottom: 5px;
     float: left;
}

.autor {
     overflow: auto;
     width: 90%;
     align-self: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 13pt;
}

.publication {
     font-style: italic;
}

.informacije {
     margin-left: 15px;
     margin-right: 15px;
     font-size: 12pt;
     font-family: Arial, Helvetica, sans-serif;
}

.informacije dt {
     font-weight: bold;
}

.informacije dd {
     margin-bottom: 15px;
}

.informacije ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

#w3c {
     float: right;
}
